@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	margin: 1em 0;
	

}

h3 {
	font-size: 1.5em;
	margin: 0.5em;
}

p {
	line-height: 1.5em;
}

.album-art {
	margin:2em;
	padding: 1em;
	border: 2px solid red;
	float: left;
	max-width: 165px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
	border: 2px solid red;
	padding: 1em;
	margin: 2em;
	width: 300px;
	
}

.record-label {
	color: red;

}

.track-list {
	padding: 0.5em;
}

#about-photo {
	border: 2px solid red;
	padding: .5em;
	margin: 2em;
	float:left;
}

#copyright {
	color: red;

}

#section-about, #section-discography, #section-equipment {
	border: 2px double red;
	margin: 1em;
	padding: 1em;
}

#text-intro {
	color: red;
	border: 2px solid red;
	background-color: #515151;
	padding: 1em;
	margin:1em;
}